.quiz-name {
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    align-items: center;
}

.quiz {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.quiz img {
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.quiz-btn {
    background-color: #1A1A1D;
    color: aliceblue;
    width: 50%;
    border-radius: 20px;
    height: 40px;
}

.quiz-btn:hover {
    background-color: #626268;
    cursor: pointer;
}