.header {
    background-color: #1A1A1D;
    color: aliceblue;
    height: 100px;
    font-size: 30px;
    margin: 0 auto;
    border-radius: 20px;
    width: 80%;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header img {
    width: 100px;
    border-radius: 25%;
}