.ans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 10px;
    padding: 15px;

}

.ques-ans {
    width: 60%;
    margin: 0 auto;
    border: 1px solid black;
    margin-top: 50px;
    background-color: antiquewhite;
    border-radius: 15px;
}

.eye {
    margin-top: 20px;
    border-radius: 50%;
    background-color: rgb(230, 53, 53);
}

.eye:hover {
    background-color: rgb(236, 128, 128);
    cursor: pointer;
}

.option-btn {
    border-radius: 10px;
    padding: 10px;
}

.option-btn:hover {
    background-color: aliceblue;
    cursor: pointer;
}