.nav {
    display: flex;
    height: 80px;
    background-color: #1A1A1D;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;


}

.left :any-link {
    color: aliceblue;
    margin-left: 30px;
    text-decoration: none;
}

.right :any-link {
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}

.cat {
    color: red;
}